body {
	font-family: 'Arvo', serif;
}
body p {
	letter-spacing: 0px;
}


.row-1 {
	background-color: #fdfefd;
	text-align: center;
	padding: 20px;
}

.header {
	background-color: #fff;
}

.row-1 a {
	padding: 20px;
	font-size: 30px;
}

.row-2 {
	background-color: #cbcbcb;
}

.row-2 h1 {

}

.row-3 {
	background-color: #fff;
}

.row-4 {
	background-color: #cbcbcb;
}
