body {
	font-family: 'Open Sans', sans-serif;
}
nav{
	padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
    background-color: #FFF;

}

li a {
    display: block;
    color: #3d449e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

li {
    float: left;
    padding-left: 300px;
    
}

}
nav ul li img {
	height: auto;
	width: 20px;
}


.row-1 .col-12 {
	width: 100%;
	height: auto;
}

.row-2 {
	background-color: #cbcbcb;
	padding: 20px;
}

.row-2 .col-4 h2 {
	color: #c50935;
}

.row-2 .col-4 h3 {
	color: #3d449e;
}

.row-3 {
	background-color: #fff;
	padding: 20px;
}

.row-3 .col-6 h2 {
	color: #3d449e;

}

.row-4 {
	background-color: #cbcbcb;
	padding: 20px;
}

.row-4 .col-2 a{
	text-decoration: none;
}

.row-4 .col-2 h2 {
	color: #c50935;

}

.row-5 {
	background-color: #cbcbcb;
	padding: 20px;
	text-align: center;
}
